## What are tuples?

Tuple is collection of immutable heterogeneous python objects.

In [2]:
x = (1,89, "A", 'Hey', 2.4)

In [3]:
x1 = (1,2,3,4,5,6)
print(x1)

(1, 2, 3, 4, 5, 6)

## Creating Tuples, Basic Syntax

In [4]:
emp = ()
print(type(emp))

<class 'tuple'>

In [5]:
print(emp)

()

In [7]:
# city = "Hyderabad",
city = "Hyderabad",
print(type(city))

<class 'tuple'>

In [7]:
print(type(city))

<class 'tuple'>

In [8]:
city = ("Hyderabad",)
print(type(city))

<class 'tuple'>

In [10]:
city = ("Hyderabad",)
print(type(city))

<class 'tuple'>

In [12]:
major_cities = ("Karachi", "Lahore", "Hyderabad", "Multan")
print(major_cities)

('Karachi', 'Lahore', 'Hyderabad', 'Multan')

In [13]:
print(type(major_cities))

<class 'tuple'>

In [14]:
major_cities = "Karachi", "Lahore", "Hyderabad", "Multan"
print(major_cities)

('Karachi', 'Lahore', 'Hyderabad', 'Multan')

In [15]:
print(type(major_cities))

<class 'tuple'>

## Difference  b/w list and tuple

In [20]:
list1 = [1,2,3,4,5]
tuple1 = (1,2,3,4,5)
list1.append(6)

In [21]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [23]:
# tuple1.append(6)

## Main Difference Between Lists and Tuples

List is mutable whereas tuple is imutable

List use square brackets and tuple may or may not use the parenthesis

## Accessing the tuple

Like list tuple uses the same syntax

In [26]:
tuple1[2]

3

In [27]:
tuple1[-1]

5

## Conctenation

In [28]:
students = ("Naeem", "Faheem", "Mujeeb", "Najeebullah", "Abubakar")
marks = (23,43,64,75,75)
print(students, marks)

('Naeem', 'Faheem', 'Mujeeb', 'Najeebullah', 'Abubakar') (23, 43, 64, 75, 75)

In [29]:
concate = students + marks

In [30]:
print(concate)

('Naeem', 'Faheem', 'Mujeeb', 'Najeebullah', 'Abubakar', 23, 43, 64, 75, 75)

## Nesting (Tuple within Tuple)

In [33]:
nest = (students, marks)
print(nest)

(('Naeem', 'Faheem', 'Mujeeb', 'Najeebullah', 'Abubakar'), (23, 43, 64, 75, 75))

## Repetition

In [40]:
rep = ("python",)*5
print(rep)

('python', 'python', 'python', 'python', 'python')

In [43]:
rep = "python",

In [44]:
print(rep*10)

('python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python')

## Slicing

In [46]:
print(marks)

(23, 43, 64, 75, 75)

In [47]:
marks[1:]

(43, 64, 75, 75)

In [48]:
marks[:4]

(23, 43, 64, 75)

In [49]:
marks[-1]

75

In [50]:
marks[::-1]

(75, 75, 64, 43, 23)

## Unpacking

In [51]:
gext = "Gexton"
tuple(gext)

('G', 'e', 'x', 't', 'o', 'n')

In [52]:
print(students)
print(marks)

('Naeem', 'Faheem', 'Mujeeb', 'Najeebullah', 'Abubakar')
(23, 43, 64, 75, 75)

In [53]:
Naeem, Faheem, Mujeeb, Najeebullah, Abubakar = marks

In [54]:
print(Naeem, Faheem, Mujeeb, Najeebullah, Abubakar)

23 43 64 75 75

In [57]:
# Naeem, *faheem, Najeebullah = marks

In [58]:
# print(Naeem, Faheem, Mujeeb, Najeebullah, Abubakar)

## Deleting a Tuple

In [59]:
tuple2 = (1,2,3,4)
print(tuple2)

(1, 2, 3, 4)

In [60]:
del tuple2

In [61]:
# In the above cell we have deleted the tuple2 so tuple2 is nomore exits.
print(tuple2)

NameError: name 'tuple2' is not defined

## Built in function

In [62]:
num2 = (1,2,3,4,5,2,3,4,5,5,4,3,4,6,7,6,7,6)

In [63]:
num2.count(2)

2

In [64]:
sum(num2)

77

In [65]:
len(num2)

18

In [66]:
max(num2)

7

In [67]:
min(num2)

1

## Converting List to Tuple

In [69]:
lst = [1,2,3,4,5,6,7]
print(type(lst))

<class 'list'>

In [71]:
tpl = tuple(lst)
print(type(tpl))

<class 'tuple'>

In [72]:
print(tpl)

(1, 2, 3, 4, 5, 6, 7)

## Nesting Tuples in a List

In [105]:
lst2 = [('a', 'b', 'c', 'd'), (1, 2, 3, 4)]
print(lst2)

[('a', 'b', 'c', 'd'), (1, 2, 3, 4)]

In [106]:
print(type(lst2))

<class 'list'>

In [107]:
lst2.append(("hello", "hi", "ok"))
print(lst2)

[('a', 'b', 'c', 'd'), (1, 2, 3, 4), ('hello', 'hi', 'ok')]

In [108]:
lst2.remove((1,2,3,4))
print(lst2)

[('a', 'b', 'c', 'd'), ('hello', 'hi', 'ok')]

## Nesting Lists within Tuples

In [112]:
tp1 = (['a', 'b', 'c'], ['d','e', 'f'])
print(type(tp1), tp1)

<class 'tuple'> (['a', 'b', 'c'], ['d', 'e', 'f'])

In [116]:
tp1[0].append('z')
print(tp1)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [117]:
tp1[0].remove('z')
print(tp1)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [118]:
#We can not append or add new element to the tuple becaues tuple is imutable (It basically generate error)
tp1.append([2,4,6,8])

AttributeError: 'tuple' object has no attribute 'append'